# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
.idea/

### Node template
node_modules

### Bower template
bower_components/

# CSS
css/**/*.css
!css/main.css

# JS
js/**/*.js
js/**/*.map
!js/main.js

# Jade
html/jade/**/*.html
jade_index.html

# Images
Thumbs.db

# Dist
dist/*
!dist/.gitkeep
