### JetBrains
/.idea

### Bower
/bower_components

### CSS
/css/**/*.css
!/css/css/**/*.css
!/css/all.css

### Dist
/dist/*
!/dist/.gitkeep

### Pug
/views/pug/**/*.html
/*_pug.html

### Images
Thumbs.db

# JS
/js/**/*.js
/js/**/*.map
!/js/js/**/*.js
!/js/all.js
!/js/all.ie.js

### NodeJS
/node_modules
