doctype html
html(class='no-js', lang='en')
    head
        include ./html/jade/head.jade
    body
        include ./html/jade/happy.jade

        <!-- Add your site or application content here -->
        p Site or application content.

        include ./html/jade/foot.jade
