doctype html
html(class='no-js', lang='en')
    head
        include ./head.pug
    body
        <!--[if lt IE 8]>
        p(class='browserupgrade')
            | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            | your browser</a> to improve your experience.
        <![endif]-->

        block content
            <!-- Add your site or application content here -->
            p Site or application content.

        include ./foot.pug
